.jumbotron{
 background-color: tomato;
 color: white;
}

.navbar{
    background-color: tomato;
}

.logo{
 color: white;
}
.btn{
    color: white;
    background-color: greenyellow;
}
.btn:hover{
    color: greenyellow;
    background-color: white;
}