{% extends 'bootstrap/base.html' %}



{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - Pomodoro
    {% else %}
        Welcome to Pomodoro
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- flash message -->
        {% block flash_message %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            <hr>
        {% endwith %}
        {% endblock %}

        {% block app_context %}
        <!-- app contexts -->
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/timer.js')}}"></script>
{% endblock %}
