{% extends 'bootstrap/base.html' %}



{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - Pomodoro
    {% else %}
        Welcome to Pomodoro
    {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pomodoro</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- flash message -->
        {% block flash_message %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            <hr>
        {% endwith %}
        {% endblock %}

        {% block app_context %}
        <!-- app contexts -->
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/timer.js')}}"></script>
{% endblock %}
