{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block app_context %}
    <!-- app contexts -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome, to our pomodoro timer!</h1>
        <p class="lead">This is a simple web application to help you and your team manage their break time.</p>
        <hr class="my-4">
        <p>It is a simple as schedule, get notified when it is time for break and start timer.</p>
        <a class="btn btn-lg" href="#" role="button">Timer</a>
    </div>
    {% include 'timer.html' %}
    
{% endblock %}


